.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
}

.hero-section {
  /* scroll-snap-align: center; */
  height: 100vh;
  margin-top: -81px;
}

.about-section {
  width: 100%;
  height: 100vh;
}

.portfolio-section {
  height: auto;
}

