body {
  margin: 0;
  padding: 0;
}

.hero-section {
  /* scroll-snap-align: center; */
  width: 100%;
  height: 100vh;
  margin-top: -81px;
}

.about-section {
  width: 100%;
  height: 100vh;
  min-height: 725px;
}

.portfolio-section {
  width: 100%;
  height: auto;
}

.contact-section {
  width: 100%;
  height: 100vh;
  min-height: 725px;
}
