@font-face {
  font-family: MuseoSansCyrl;
  src: url(../../assets/fonts/MuseoSansCyrl-900.ttf);
}

@font-face {
  font-family: BebasNeue;
  src: url(../../assets/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: MuseoSans;
  src: url(../../assets/fonts/MuseoSans_500.otf);
}

.about-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../../assets/images/portfolio/Portfolio15.jpg);
  position: relative;
}

.about-left-container {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
}

.about-image {
  position: absolute;
  /* width: 25vw; */
  margin-left: auto; 
  margin-right: auto; 
  left: 55%; 
  /* top: 30vh; */
  top: 17vh;
  z-index: 1;
}

.about-image img {
  width: 25vw;
  /* height: 33vh; */
  border-radius: 25px;
  /* object-fit: cover;
  object-position: center;
  height: 300px; */
}

/* .about-image > .about-image img {
  object-fit: cover;
  object-position: center;
  height: 300px;
} */

.about-right-container {
  position: relative;
  width: 60%;
  height: 100%;
  float: right;
}

.about-content {
  position: absolute;
  /* width: 30vw; */
  margin-left: auto; 
  margin-right: auto; 
  left: 10%; 
  top: 35vh;
  z-index: 1;
}

.about-name {
  font-family: BebasNeue;
  font-size: 2vw;
  color: #ffffff;
  letter-spacing: 0.3vw;
  margin-bottom: 6vh;
}

.about-title {
  font-family: MuseoSansCyrl;
  font-size: 3vw;
  font-style: italic;
  color: #fde86b;
  letter-spacing: 0.1vw;
  margin-bottom: 2vh;
}

.about-desc {
  font-family: MuseoSans;
  font-size: 0.9vw;
  color: #fff;
  width: 35vw;
  line-height: 3vh;
}