@font-face {
    font-family: MuseoSansCyrl;
    src: url(../../assets/fonts/MuseoSansCyrl-900.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../../assets/fonts/BebasNeue-Regular.otf);
}

.hero-wrapper {
    display: table;
	position: static;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
  
.hero-container {
	display: table-cell;
	vertical-align: middle;
    /* position: relative;
    padding: 22vh;
    margin-bottom: auto; */
}

.logo {
    height: auto;
}

.hero-job-title {
    margin-left: auto;
    margin-right: auto;
}

.job-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MuseoSansCyrl;
    font-size: 4vw;
    color: #9d999d;
    letter-spacing: 0.2vw;
}

.star {
    position: absolute;
    z-index: -1;
    width: 100vw;
}

.left-arrow-indicator {
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 80%;
    cursor: pointer;
}

.right-arrow-indicator {
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 80%;
    cursor: pointer;
}

.left-text-indicator {
    position: absolute;
    z-index: 2;
    left: 6.45%;
    top: 74.55%;
    font-family: MuseoSansCyrl;
    font-size: 1vw;
    color: #8e898e;
    letter-spacing: 0.5vw;
}

.right-text-indicator {
    position: absolute;
    z-index: 2;
    right: 6.6%;
    top: 74.55%;
    font-family: MuseoSansCyrl;
    font-size: 1vw;
    color: #8e898e;
    letter-spacing: 0.5vw;
}