.hero-wrapper {
    display: table;
	position: static;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.hero-container {
	display: table-cell;
	vertical-align: middle;
}

.center-bottom {
	display: table-cell;
	vertical-align: bottom;
}

.logo {
    height: auto;
}

.title {
    width: 20vw;
    height: auto;
}